version: '3.8'
services:
  mongodb:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - '27017:27017'

  backend:
    build: ./backend
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/min-task-mgmt
      - JWT_SECRET=changeme
      - JWT_EXPIRE=7d
    ports:
      - '5000:5000'
    depends_on:
      - mongodb

volumes:
  mongo_data:
